aiohttp
aiosignal
altair
annotated-types
anyio
arrow
asgiref
asttokens
attrs
auth0-python
bcrypt
bidict
binaryornot
blinker
blis
cachetools
canvas
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
colorama
comm
comtypes
confection
contourpy
cookiecutter
cors
cron-converter
cryptography
cycler
cymem
dataclasses-json
datasets
debugpy
decorator
defusedxml
dill
distro
Django
dnspython
easyocr
ecdsa
email_validator
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
et-xmlfile
executing
extra-streamlit-components
faiss-cpu
fastapi
fastapi-cli
filelock
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Login
Flask-Mail
Flask-MySQL
Flask-MySQLdb
Flask-PyMongo
Flask-SocketIO
Flask-SQLAlchemy
fonttools
fpdf2
frozenlist
fsspec
future
gevent
git-filter-repo
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-language
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httptools
httpx
huggingface-hub
idna
imageio
ipykernel
ipython
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keyring
kiwisolver
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langcodes
langsmith
lazy_loader
loguru
make_response
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
more-itertools
mpmath
multidict
multiprocess
murmurhash
mypy-extensions
mysql-connector-python
mysqlclient
nest-asyncio
networkx
ninja
nltk
notify_py
numpy
oauthlib
openai
opencv-python
opencv-python-headless
openpyxl
orjson
outcome
packaging
pandas
parso
patsy
pdf2image
pdfminer.six
pdfplumber
pillow
platformdirs
plotly
preshed
prompt_toolkit
proto-plus
protobuf
psutil
pure-eval
pyarrow
pyarrow-hotfix
pyasn1
pyasn1_modules
pyclipper
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyjokes
PyJWT
pylance
pymessenger
pymongo
PyMuPDF
PyMuPDFb
PyMySQL
pyparsing
PyPDF2
PyPDF4
pypdfium2
pypiwin32
PyQt5
PyQt5-Qt5
PyQt5-sip
PySocks
pytesseract
python-bidi
python-dateutil
python-dotenv
python-engineio
python-jose
python-multipart
python-slugify
python-socketio
pyttsx3
pytz
PyYAML
pyzmq
redis
referencing
regex
reportlab
requests
requests-file
requests-oauthlib
requests-toolbelt
RestrictedPython
rich
rpds-py
rsa
safetensors
scikit-image
scikit-learn
scipy
seaborn
selenium
setuptools
shapely
shellingham
simple-websocket
six
smart-open
smmap
sniffio
sortedcontainers
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
sqlparse
srsly
stack-data
starlette
statsd
statsmodels
streamlit
streamlit-auth0
streamlit-authenticator
streamlit-option-menu
sympy
tenacity
text-unidecode
thinc
threadpoolctl
tifffile
tiktoken
tldextract
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typer
types-python-dateutil
typing-inspect
typing_extensions
tzdata
ujson
uritemplate
urllib3
uvicorn
waitress
wasabi
watchdog
watchfiles
wcwidth
weasel
websocket-client
websockets
Werkzeug
win32-setctime
wsproto
XlsxWriter
xxhash
yarl
zope.event
zope.interface

